head{
    font-size: 16px;
}
body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
}
.calc-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 27vw;
    height: 63vh;
    background-color: rgb(54, 53, 53);
    border-radius: 30px;
}
.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5% 0.5% 1% 0.5%;
    width: 86%;
    height: 35%;
    border-radius: 30px;
    overflow-x: scroll;
    color: white;
    background-color: rgba(31, 110, 112, 0.267);
}
.screen-text{
    margin:auto;
    align-self: center;
    width: 100%;
    height: auto;
    font-weight: 500;
    font-size: 2rem;
    padding: 5px;
}
.screen2{
    background-color: rgb(92, 90, 90);
    width: 100%;
    height: 20%;
    font-size: 2rem;
    text-align: end;
}

.btns-container{
    display: flex;
    align-items: center;
    width: 86%;
    height: 70%;
    border-radius: 30px;
}
.numbers-container,.operators{
    display: flex;
    height: 65%;
    /* justify-content: center; */
    align-items: center;
    border-radius: 30px;
    /* padding: 8px; */
    flex-wrap: wrap;
    width: 32%;
}
.numbers-container{
    width: 70%;
    gap: 6px;
    align-items: center;
}
.row1,.row2,.row3,.row4,.parentheses,.add-sub,.mul-div{
    width: 100%;
}
.numbers-container button{
    width: 30%;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    background-color: #a2a2a2;
}
.operators{
    width: 100px;
}
.operators div{
    display: flex;
}
.operators button{
    width: 70%;
    height: 40px;
    background-color: #a2a2a2;
}
.add , .div, .open-p{
    border-radius: 5px 5px 40px 5px;
}
.sub , .mult, .close-p{
    border-radius: 40px 5px 5px 5px;
}
.row4{
    display: flex;
}
.clear{
    border-radius: 5px 5px 20px 5px;
}
.footer{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0px;
    bottom: 0px;
    padding: 8px;
    width: 98%;
    font-size: 24px;
}